<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head/>

<f:view>
    <h:form>
        <p:inputText value="#{calculatorView.result}" onkeypress="if (event.keyCode == 13) {return false}"/>
        <h:panelGrid columns="4">
            <p:commandButton value="7" update="@form" actionListener="#{calculatorView.putNumber(7)}" style="width: 52px"/>
            <p:commandButton value="8" update="@form" actionListener="#{calculatorView.putNumber(8)}" style="width: 52px"/>
            <p:commandButton value="9" update="@form" actionListener="#{calculatorView.putNumber(9)}" style="width: 52px"/>
            <p:commandButton value="+" update="@form" actionListener="#{calculatorView.operation('+')}" style="width: 52px"/>
            <p:commandButton value="4" update="@form" actionListener="#{calculatorView.putNumber(4)}" style="width: 52px"/>
            <p:commandButton value="5" update="@form" actionListener="#{calculatorView.putNumber(5)}" style="width: 52px"/>
            <p:commandButton value="6" update="@form" actionListener="#{calculatorView.putNumber(6)}" style="width: 52px"/>
            <p:commandButton value="-" update="@form" actionListener="#{calculatorView.operation('-')}" style="width: 52px"/>
            <p:commandButton value="1" update="@form" actionListener="#{calculatorView.putNumber(1)}" style="width: 52px"/>
            <p:commandButton value="2" update="@form" actionListener="#{calculatorView.putNumber(2)}" style="width: 52px"/>
            <p:commandButton value="3" update="@form" actionListener="#{calculatorView.putNumber(3)}" style="width: 52px"/>
            <p:commandButton value="*" update="@form" actionListener="#{calculatorView.operation('*')}" style="width: 52px"/>
            <p:commandButton value="0" update="@form" actionListener="#{calculatorView.putNumber(0)}" style="width: 52px"/>
            <p:commandButton value="." update="@form" actionListener="#{calculatorView.addComma}" style="width: 52px"/>
            <p:commandButton value="=" update="@form" actionListener="#{calculatorView.printResult}" style="width: 52px"/>
            <p:commandButton value="/" update="@form" actionListener="#{calculatorView.operation('/')}" style="width: 52px"/>
        </h:panelGrid>
        <h:panelGrid columns="1">
            <p:commandButton value="CLEAR" update="@form" actionListener="#{calculatorView.clear}" style="width: 224px"/>
        </h:panelGrid>
    </h:form>
</f:view>
</html>
